<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


	<bean id="oracle"
		class="com.bean.properties.connections.ConnectionBD">
		<property name="properties">
			<props>
				<prop key="host">127.0.0.1</prop>
				<prop key="port">7001</prop>
				<prop key="SID">XE</prop>
				<prop key="username">root</prop>
			</props>
		</property>
	</bean>
	
		<bean id="mysql"
		class="com.bean.properties.connections.ConnectionBD">
		<property name="properties">
			<props>
				<prop key="host">127.0.0.1</prop>
				<prop key="port">3556</prop>
				<prop key="SID">produccion</prop>
				<prop key="username">mysqlroot</prop>
			</props>
		</property>
	</bean>

</beans>
